html {
    overflow-y: no-display;
}

a {
    font-weight: normal !important;
}

.left {
    float: left;
}

.clear-fix {
    clear: both;
}

#login .ui-content, #register .ui-content, #setup .ui-content {
    text-align: center;
}

#setup .ui-content {
    margin-top: 40%;
}


    #setup .ui-content h1 {
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 30px;
    }

    #setup .ui-content p {
        margin-bottom: 30px;
    }

#login #logo, #register #logo {
    margin-top: 10%;
    margin-bottom: 14%;
    width: 120px;
}

#login .info, #register .info {
    display: block;
    margin-top: 10%;
}

.header {
    padding: 13px 0px 13px 0px;
    border-bottom: 3px #c06e3f solid !important;
}

    .header div img {
        height: 30px;
    }

    .header .left {
        float: left;
        width: 100px;
    }

        .header .left a {
            margin-left: 10px;
            width: 32px;
            display: inline-block;
            text-align: left;
            float: left;
        }

    .header .right {
        float: right;
        width: 100px;
    }

        .header .right a {
            margin-right: 10px;
            width: 30px;
            display: inline-block;
            text-align: right;
            float: right;
        }

    .header .center {
        text-align: center;
        margin: 0 auto;
        width: 100px;
    }

.home {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}

    .home .section {
        border-bottom: 2px solid #e5e5e5;
    }

        .home .section > .left {
            margin-top: 15px;
        }

        .home .section .left img {
            height: 25px;
            width: 25px;
        }

        .home .section .left span {
            margin-top: 4px;
            margin-left: 8px;
            font-size: 14px;
        }

        .home .section p {
            display: block;
            margin: 0px;
            padding: 0px;
        }

        .home .section .profile {
            text-align: center;
            margin-bottom: 15px;
        }

            .home .section .profile img {
                height: 100px;
                width: 100px;
            }

            .home .section .profile p {
                margin-top: 20px;
            }

             .right {
                text-align: center;
                float: right;
                width: 50px;
            }

            .center {
                text-align: center;
                margin: 0 auto;
                width: 200px;
            }

        .home .section ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            margin-left: 15px;
        }

            .home .section ul li {
                height: 40px;
            }

    .home .text_invite_friend {
        margin-top: 15%;
        text-align: center;
    }

    .home .disclaimer_invite_friend {
        margin-top: 15%;
        text-align: center;
        vertical-align: text-bottom;
    }

label {
    font-weight: bold;
    margin-top: 10px !important;
}

.friends {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


    .friends li a {
        border-bottom: 2px solid #e5e5e5;
        display: block;
        padding: 20px 15px 20px 15px;
        cursor: pointer;
        font-weight: normal;
        text-decoration: none;
        font-size: 15px;
    }

        .friends li a > img {
            height: 45px;
            float: left;
            margin-right: 10px;
        }

        .friends li a span {
            float: left;
            margin-top: 14px;
        }

        .friends li a:hover {
            color: #707070;
        }

        .friends li a:visited {
            color: #707070;
        }

    .friends .user a {
        padding: 15px 15px 15px 15px;
    }

        .friends .user a .request {
            float: right;
        }

            .friends .user a .request img {
                height: 20px;
                margin-left: 5px;
            }

.show_friend_invited {
    text-align: center;
    display: none;
}

.show_friend_info {
    text-align: center;
    display: none;
}

.user_name {
    font-size: 20px;
}

/*Aangepaste UI stukken*/
.ui-overlay-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-body-c {
    border-top: 0px solid white;
    border-bottom: 0px solid white;
}

#edit_user .ui-popup-container {
    width: 100% !important;
}

    #edit_user .ui-popup-container .ui-btn, #edit_user .ui-popup-container .ui-li-divider {
        text-align: center;
        font-size: 18px;
    }
