html {
    overflow-y: no-display;
}

.left {
    float: left;
}

.clear-fix {
    clear: both;
}

#login .ui-content, #register .ui-content {
    text-align: center;
}

#login #logo, #register #logo {
    margin-top: 10%;
    margin-bottom: 14%;
    width: 120px;
}

#login .info, #register .info {
    display: block;
    margin-top: 10%;
}

.header {
    padding: 13px 0px 13px 0px;
    border-bottom: 3px #c06e3f solid !important;
}

    .header div img {
        height: 30px;
    }

    .header .left {
        text-align: center;
        float: left;
        width: 50px;
    }

    .header .right {
        text-align: center;
        float: right;
        width: 50px;
    }

    .header .center {
        text-align: center;
        margin: 0 auto;
        width: 50px;
    }

.home {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}

    .home .section {
        border-bottom: 2px solid #e5e5e5;
    }

        .home .section > .left {
            margin-top: 15px;
        }

        .home .section .left img {
            height: 25px;
            width: 25px;
        }

        .home .section .left span {
            margin-top: 4px;
            margin-left: 8px;
            font-size: 14px;
        }

        .home .section p {
            display: block;
            margin: 0px;
            padding: 0px;
        }

        .home .section .profile {
            text-align: center;
            margin-bottom: 15px;
        }

            .home .section .profile img {
                height: 100px;
                width: 100px;
            }

            .home .section .profile p {
                margin-top: 20px;
            }

            .home .section .profile .right {
                text-align: center;
                float: right;
                width: 50px;
            }

            .home .section .profile .center {
                text-align: center;
                margin: 0 auto;
                width: 100px;
            }

        .home .section ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            margin-left: 15px;
        }

            .home .section ul li {
                height: 40px;
            }

    .home .text_invite_friend {
        margin-top: 10%;
        text-align: center;
        font-size: 17px;
    }

    .home .disclaimer_invite_friend {
        margin-top: 10%;
        text-align: center;
        vertical-align: text-bottom;
    }

label {
    font-weight: bold;
    margin-top: 10px !important;
}

.friends {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .friends li {
        border-bottom: 2px solid #e5e5e5;
        padding: 20px 0px 20px 20px;
    }
